<div *ngIf="book.id">
  <table>
    <tr>
      <td>
        Tên sách:
      </td>
      <td>
        {{book.name}}
      </td>
    </tr>
    <tr>
      <td>
        Thể loại:
      </td>
      <td>
        {{category.title}}
      </td>
    </tr>
    <tr>
      <td>
        Tác giả:
      </td>
      <td>
        {{book.author}}
      </td>
    </tr>
    <tr>
      <td>
        Năm xuất bản:
      </td>
      <td>
        {{book.yearOfPublisher}}
      </td>
    </tr>
    <tr>
      <td>
        Nhà xuất bản:
      </td>
      <td>
        {{book.publisher}}
      </td>
    </tr>
    <tr>
      <td>
        Số lượng:
      </td>
      <td>
        {{book.quantity}}
      </td>
    </tr>
    <tr>
      <td>
        Giá bán:
      </td>
      <td>
        {{book.price}}
      </td>
    </tr>
    <tr></tr>
    <tr>
      <td>
        <button (click)="previousState()">Quay lại</button>
      </td>
      <td>
        <a routerLink="/edit/{{book.id}}">Chỉnh sửa</a>
      </td>
    </tr>
  </table>
</div>
